<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <display-name>RegisterLogin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>regForm</display-name>
    <servlet-name>regForm</servlet-name>
    <servlet-class>regForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regForm</servlet-name>
    <url-pattern>/regForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>regForm2</display-name>
    <servlet-name>regForm2</servlet-name>
    <servlet-class>regForm2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regForm2</servlet-name>
    <url-pattern>/regForm2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginForm</display-name>
    <servlet-name>loginForm</servlet-name>
    <servlet-class>loginForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginForm</servlet-name>
    <url-pattern>/loginForm</url-pattern>
  </servlet-mapping>
</web-app>